name: dev
services:
  oracle:
    image: container-registry.oracle.com/database/express:21.3.0-xe
    container_name: oracle
    hostname: oracle
    restart: always
    ports:
      - "1521:1521"
      - "5500:5500"
    environment:
      ORACLE_PWD: password
    volumes:
      - "oracle_data:/opt/oracle/oradata"
  ords:
    image: container-registry.oracle.com/database/ords:latest
    container_name: ords
    hostname: ords
    depends_on:
      - oracle
    ports:
      - "8081:8080"
    volumes:
      - "ords_config:/etc/ords/config"
    entrypoint: [ "ords", "serve" ]
  application:
    image: samanalishiri/application:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: application
    hostname: application
    restart: always
    ports:
      - "8080:8080"
    environment:
      APP_HOST: "0.0.0.0"
      APP_PORT: "8080"
      APP_PROFILES: oracle
      APP_DATABASE_HOST: oracle
      APP_DATABASE_PORT: "1521"
      APP_DATABASE_NAME: xepdb1
      APP_DATABASE_USERNAME: system
      APP_DATABASE_PASSWORD: password
    depends_on:
      - oracle
      - ords
volumes:
  ords_config:
    driver: local
  oracle_data:
    driver: local
