spring:
  datasource:
    username: ${APP_DATABASE_USERNAME:sa}
    password: ${APP_DATABASE_PASSWORD:}
    url: jdbc:h2:tcp://${APP_DATABASE_HOST:localhost}:${APP_DATABASE_PORT:9092}/mem:${APP_DATABASE_NAME:tutorial_db}
    driver-class-name: org.h2.Driver
  data:
    jdbc:
      repositories:
        enabled: true
  jpa:
    database: H2
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      javax:
        persistence:
          create-database-schemas: false
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        default_schema: ""
  sql:
    init:
      data-locations: classpath:data-h2.sql
      mode: always