spring:
  main:
    banner-mode: OFF
  datasource:
    username: ${APP_DATABASE_USERNAME:user}
    password: ${APP_DATABASE_PASSWORD:password}
    url: jdbc:postgresql://${APP_DATABASE_HOST:localhost}:${APP_DATABASE_PORT:5432}/${APP_DATABASE_NAME:tutorial_db}
    driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    properties:
      javax:
        persistence:
          create-database-schemas: true
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        default_schema: ${APP_DATABASE_SCHEMA:user_management}
  sql:
    init:
      mode: always
