spring:
  datasource:
    username: ${DATABASE_USER:root}
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:26257}/${DATABASE_DB:defaultdb}?sslmode=disable
    driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        generate_statistics: true
        format_sql: true
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
