name: dev
services:
  application:
    image: samanalishiri/application:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: application
    hostname: application
    restart: always
    ports:
      - "8080:8080"
    environment:
      APP_HOST: "0.0.0.0"
      APP_PORT: "8080"
      APP_PROFILES: h2server,openapibasic
      DATABASE_HOST: h2server
      DATABASE_PORT: 9092
      DATABASE_NAME: tutorial_db
  h2server:
    image: samanalishiri/h2dbserver
    build:
      context: ./h2server
      dockerfile: ./Dockerfile
    container_name: h2server
    hostname: h2server
    ports:
      - "8082:8082"
      - "9092:9092"
    environment:
      TCP_PORT: 9092
      WEB_PORT: 8082