spring:
  cloud:
    aws:
      credentials:
        access-key: test
        secret-key: test
      region:
        static: us-east-1
      s3:
        endpoint: http://localhost:4566
        path-style-access-enabled: true
