spring:
  datasource:
    username: ${APP_DATABASE_USERNAME:user}
    password: ${APP_DATABASE_PASSWORD:password}
    url: jdbc:mysql://${APP_DATABASE_HOST:localhost}:${APP_DATABASE_PORT:3306}/${APP_DATABASE_NAME:tutorial_db}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    database: MYSQL
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      javax:
        persistence:
          create-database-schemas: true
      hibernate:
        generate_statistics: true
        format_sql: true
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        default_schema: ${APP_DATABASE_SCHEMA:sample}