spring:
  datasource:
    username: ${APP_DATABASE_USERNAME:system}
    password: ${APP_DATABASE_PASSWORD:password}
    url: jdbc:oracle:thin:@//${APP_DATABASE_HOST:localhost}:${APP_DATABASE_PORT:1521}/${APP_DATABASE_NAME:xepdb1}
    driver-class-name: oracle.jdbc.OracleDriver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    database: ORACLE
    database-platform: org.hibernate.dialect.OracleDialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      javax:
        persistence:
          create-database-schemas: true
      hibernate:
        generate_statistics: true
        format_sql: true
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        default_schema: ${spring.datasource.username} 