name: dev
services:
  postgresql:
    image: postgres:13.20-alpine
    container_name: postgresql
    hostname: postgresql
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tutorial_db
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    hostname: pgadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: "password"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - "pgadmin-data:/var/lib/pgadmin"
  adminer:
    image: adminer
    container_name: adminer
    hostname: adminer
    restart: always
    ports:
      - "8082:8080"
  application:
    image: samanalishiri/application:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: application
    hostname: application
    restart: always
    ports:
      - "8080:8080"
    environment:
      APP_HOST: "0.0.0.0"
      APP_PORT: "8080"
      APP_PROFILES: postgresql
      APP_DATABASE_HOST: postgresql
      APP_DATABASE_PORT: "5432"
      APP_DATABASE_DB: tutorial_db
      APP_DATABASE_USERNAME: user
      APP_DATABASE_PASSWORD: password
    depends_on:
      - postgresql
      - pgadmin
      - adminer
volumes:
  pgadmin-data: